alias s='sudo !!'
alias ls='ls -Ga'
alias ll='ls -FlAhp'                       # Preferred 'ls' implementation
alias l='ll'
alias la='ll -@'                            # Show XAttrs
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less' #recursive
cd() { builtin cd "$@" && ll; }               # Always list directory contents upon 'cd'
alias mkdir="mkdir -p"                      # always make path
alias ~="cd ~"                              # ~:            Go Home
alias cd..='cd ../'                         # Go back 1 directory level (for fast typers)
alias ..='cd ../'                           # Go: back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias .3='cd ../../../'                     # Go back 3 directory levels
alias .4='cd ../../../../'                  # Go back 4 directory levels
alias .5='cd ../../../../../'               # Go back 5 directory levels
alias .6='cd ../../../../../../'            # Go back 6 directory levels
alias less='less -FSRXc'                    # Preferred 'less' implementation
alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias rmr='sudo rm -r'
#networking commands
alias myip='dig +short myip.opendns.com @resolver1.opendns.com' # myip:         Public facing IP Address
alias netCons='lsof -i'                             # netCons:      Show all open TCP/IP sockets
alias flushdns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder 2>&0'
alias lsock='sudo /usr/sbin/lsof -i -P'             # lsock:        Display open sockets
alias lsockU='sudo /usr/sbin/lsof -nP | grep UDP'   # lsockU:       Display only open UDP sockets
alias lsockT='sudo /usr/sbin/lsof -nP | grep TCP'   # lsockT:       Display only open TCP sockets
alias ipInfo0='ipconfig getpacket en0'              # ipInfo0:      Get info on connections for en0
alias ipInfo1='ipconfig getpacket en1'              # ipInfo1:      Get info on connections for en1
alias openPorts='sudo lsof -i | grep LISTEN'        # openPorts:    All listening connections
alias showBlocked='sudo ipfw list'                  # showBlocked:  All ipfw rules inc/ blocked IPs
alias ping0='f(){ for i in ${@#*@}; do ping -c 1 -W 1 $i 1>&- && echo "$i" || :; done; }; f'
alias ping1='f(){ ping -c 1 -W 1 ${@#*@} 1>&- && ( echo "$@ pinged"; return 0) || return 1; }; f'
alias ip4='f(){ ping -c 1 -t 1 "$1" | grep -Eo -m 1 "([0-9]{1,3}\.){3}[0-9]{1,3}"; }; f'

#osx commands
if [[ `uname` == "Darwin" ]]; then
    alias lc='launchctl'
    alias slc='sudo launchctl'
    alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
    alias sys='syslog | tail -f'
    alias btmm='echo show Setup:/Network/BackToMyMac | scutil | grep $(id -u)\ : | sed "s/.*$(id -u) : \([0-9a-zA-Z\.]*\)\.$/\1/g"'
    alias tm='sudo fs_usage -f filesys backupd'
fi
