[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
        url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".zsh/powerlevel9k"]
	path = .zsh/powerlevel9k
	url = /Users/rusty/Dropbox/dotfiles/.zsh/themes/powerlevel9k
