# Generic Doctype
snippet <plist
	<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0/EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
	<plist version="1.0">
	    ${1}
	</plist>
snippet <dict
	<dict>
	    ${1}
	</dict>

snippet <key
	<key>${1}</key>

snippet <string
	<string>${1}</string>

snippet <array
	<array>
	    ${1}
	</array>

snippet <int
	<integer>${1}</integer>

snippet <
	<${1:tag}>${2:value}</${1}>

snippet <!
	<!-- ${1:comment} -->
	
